$primary: #f08804;
$primary-1: #febd69;
$primary-2: #ffd814;
$secondary: #232f3e;
$secondary-light: #37475a;
$white-color: white;
$body: #e3e6e6;
$content: #ffffff;
$link-color: #d0e5e8;
$links-1: #dddddd;
$links-2: #999999;
$links-bg-hover: #eaeded;
$dark: #131921;
